<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>819103084909-ompgg6eom63c77io9h4q70spo9rghs38.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.819103084909-ompgg6eom63c77io9h4q70spo9rghs38</string>
	<key>API_KEY</key>
	<string>AIzaSyBofsrEp05hL3CYez60lkm-JUa4IafQqaU</string>
	<key>GCM_SENDER_ID</key>
	<string>819103084909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.YenShao.AllTogeter</string>
	<key>PROJECT_ID</key>
	<string>alltogeter-573f4</string>
	<key>STORAGE_BUCKET</key>
	<string>alltogeter-573f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:819103084909:ios:ea125660fdf17838</string>
	<key>DATABASE_URL</key>
	<string>https://alltogeter-573f4.firebaseio.com</string>
</dict>
</plist>